<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a routerLink="" class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/welcome">Home</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/products']">ProdList</a></li>
        <li routerLinkActive="active"><a routerLink="products/0/edit">AddProd</a></li>
        <li routerLinkActive="active"><a routerLink="/customer">Customer</a></li>
        <li routerLinkActive="active"><a routerLink="/customer-rf">Cust.-rf</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li *ngIf="authService.isLoggedIn()">
              <a [routerLink]="['/login']">Welcome {{ authService.currentUser.userName }}</a>
          </li>
          <li *ngIf="!messageService.isDisplayed">
              <a (click)="displayMessages()">Show Messages</a>
          </li>
          <li *ngIf="messageService.isDisplayed">
              <a (click)="hideMessages()">Hide Messages</a>
          </li>
          <li *ngIf="!authService.isLoggedIn()">
              <a [routerLink]="['/login']">Log In</a>
          </li>
          <li *ngIf="authService.isLoggedIn()">
              <a (click)="logOut()">Log Out</a>
          </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
