<div class="panel panel-primary">
  <div class="panel-heading">{{pageTitle}}</div>
  <div class="panel body">
    <div class="row">
      <div class="col-xs-2">Filter by:</div>
      <div class="col-xs-4"><input type="text" [(ngModel)]="listFilter" placeholder="Name of product"></div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h3>Filtered by: {{listFilter}}</h3>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <div *ngIf='!(filteredProducts && filteredProducts.length)'>No results</div>
    <table class="table" *ngIf='products && products.length'>
      <thead>
        <tr>
          <th><button class="btn btn-primary" (click)="toggleImg()">{{ showImage ? 'Hide' : 'Show' }} Image</button></th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of filteredProducts'>
          <td>
            <img *ngIf="showImage"
            [src]="product.imageUrl"
            [title]="product.productName"
            [style.width.px]="imgWidth"
            [style.margin.px]="imgMargin">
          </td>
          <td><a [routerLink]="['/products', product.productId]">{{ product.productName }}</a></td>
          <td>{{ product.productCode | lowercase | convertToSpaces: '-'}}</td>
          <td>{{ product.releaseDate }}</td>
          <td>{{ product.price | currency: 'USD':true:'1.2-2' }}</td>
          <td><pm-star [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)"></pm-star></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
